@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fda4ba;
  --muted: #fff0f3;
}

@theme inline {
  --color-background: var(--muted);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-muted: var(--muted);
  --font-sans: var(--font-dm-sans);
  --font-display: var(--font-dm-serif);
}

body {
  background: var(--background);
  color: var(--foreground);
}
